.form-control {
  width: 80%;
}
.col-sm {
  max-width: 45%;
}


#hidden
{
  visibility: hidden;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
hr {
  height: 4px;
  border: 0;

}

.btn-margin-left {
  margin-left: 30px;
}
.btn-margin-right {
  margin-right: 4px;
}
.navbar
{
    border-bottom:5px solid #110fac;
}
nav {

  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: #110fac;
}
nav .active a{
  color: blanchedalmond !important;
  border-bottom: 4px solid rgb(37, 48, 204);
}

.link:hover {
  border-top: 4px solid rgb(37, 48, 204);
  border-bottom: 4px solid rgb(2, 3, 51);
  padding: 6px 0;
}

figure img {
  margin-top: 5px;
}

.home {
  color: aliceblue;
  font-size: 8px;
  text-align: center;
}
