
       <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>

            <td>Test Plans</td>
            <td>Exit Reports</td>
            <td>CSI Regression</td>
          </tr>
          <tr>

            <td>
            <a class="nav-link link blink_me"  href="report/all">US Traceability</a>
            </td>
            <td>ADA Coverage</td>
            <td>CFC-Configurable Feature Code</td>
          </tr>
          <tr>

            <td>SS/High Resolution</td>
            <td>NA scripts mitigation</td>
            <td>Project Regression</td>
         </tr>
          <tr>

            <td>Implementation Approvals</td>
            <td>TA Portal –Architecture review</td>
            <td>Export Compliance</td>
          </tr>
          <tr>

            <td>Sprint backlog</td>
            <td>Code Review</td>
            <td>SIA  System Impact Analysis</td>
         </tr>
          <tr>

            <td>RRP – Risk Review</td>
            <td>CR Change Requests Review</td>
          </tr>
        </tbody>
      </table>
